Client/Client.o
Client/Game.o
Client/GameObject.o
Client/main.o
Client/Map.o
Client/TextureManager.o
Client/Controllers/CarController.o
Client/Controllers/KeyboardController.o
Client/Client
Server/Server

cmake-build-debug/

# Prerequisites
*.d

.idea/
.vscode/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
